.service{
    box-shadow: 0px 0px 5px 1px #fff3251c;
}
.service img{
    width: 100%;
}
.service-content{
    padding: 0 20px;
}
.service h2{
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}
.service p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
.service p small{
    font-size: 16px;
    font-weight: 400;
}
.service .checkout-btn{
    margin-top: 20px;
}