.container{
    width: 80%;
    margin: auto;
}
.header .logo img{
    height: 150px;
}
.navigation{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.menu{
    margin-bottom: 20px;
}
.menu .menu-item{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}
.btn{
    background-color: #fadab3;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in;
}
.btn:hover{
    opacity: .8;
}


@media screen and (max-width: 600px){
    .header .logo img{
        height: 120px;
    }
    .menu .menu-item{
        font-size: 14px;
    }
    .btn{
        font-size: 14px;
    }
}