.answer-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.answer-item{
    padding: 30px 20px;
    box-shadow: 0px 0px 5px 1px #fff3251c;
    text-align: left;
}
.answer-item h4, h2, p{
    color: #ffffff;
}
.answer-item h4{
    margin: 20px 0;
}
.answer-item p{
    margin: 10px 0;
}